/* 
    Created on : Oct 3, 2016, 4:58:53 PM
    Author     : jarrm5
*/

@font-face{
    font-family: Oleo;
    src: url(fonts/oleo.woff);
}

/* HEAD STYLES */

/*Upper head */

div.top-header {
    position: relative;
    background-color: #F3F2F1;
    height: 60px;
}

div.top-header img{
    float: left;
    height: 60px;
    width: 60px;
    line-height:60px;
}

div.top-header h2{
    float:left;
    font-family: Oleo;
    margin: 0 0 0 15px;
    line-height:60px;
}

div.top-header div.search-pane{
    margin: 0 0 0 325px;
    line-height:60px;
}

div.top-header div.search-pane input[type=search]{
    height: 30px;
    line-height:60px;
    width:60%;
    border:1px solid #A6B0B6;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}
div.top-header div.search-pane input[type=submit]{
    position:relative; /*Merges the button with the textbox regardless of browser resize*/
    right:7px;
    
    height: 30px;
    background-color: #3284A1;
    color: #F1F6F8;
    font-weight:bold;
    border-radius: 0px 5px 5px 0px;
    border:1px solid #A6B0B6;
    border-left:none;
}

/* Lower head styles */

div.bottom-header{
    height: 60px;
    border-bottom: 1px solid #A6B0B6; 
}

div.bottom-header h3{
    line-height: 60px;
    float:left;
    margin: 0 0 0 15px;
}

div.bottom-header select{
    width:8%;
    height: 30px;
    margin: 15px 0 0 8px;
}
div.bottom-header div.icons{
    float:right;
    height: 30px;
    margin: 15px 15px 0 0;
}

div.bottom-header div.icons img:hover{
    cursor:pointer;
}

div.bottom-header div.icons img{
    height: 30px;
    width: 30px;
}
