.grid-movie-container {
    margin: 20px;
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    border: 2px solid lightgray;
    padding:5px;
}
        
.grid-movie-container img{
    height: 200px;
    width: 200px;
}
            
.hd{
    position:absolute;
    top: 15px;
    left: 15px;
}

.hd img{
    height: 30px;
    width: 40px;
}

#basic-info{
    position:absolute;
    left: 5px;
    bottom: 5px;
    height:40px;
    width:200px;
    opacity:0.4;
    background-color:black;
    text-align:center;
    margin-bottom:0px;
    padding-top:0px;
    transition: margin-bottom 2s, height 2s, padding-top 2s;
}

#basic-info span, #more-info span{
    display:block;
    color:white;
    opacity:1;
}

#grid-title{
    text-transform:uppercase;
}

#more-info{
    height:0px;
    opacity: 0.7;
    position:absolute;
    background-color:black;
    bottom:5px;
    left:5px;
    width:200px;
    transition: height 2s;
}


.grid-movie-container:hover #basic-info{
    height:50px;
    margin-bottom:60px;
    opacity:0.6;
    padding-top: 10px;
    transition: margin-bottom 2s, height 2s, line-height 2s, padding-top 2s, opacity 2s;
}

.grid-movie-container:hover #more-info{
    height:60px;
    transition: height 2s;
}

#more-info span{
    text-align:left;
}

#more-info span{
    margin: 3px 6px;
}

#more-info span#starring, #basic-info span#title{
    font-weight:bold;
}

